@{
    ViewBag.Title = "SearchPage";
}

<h3>Search GitHub for user details and their top repos</h3>
<p>Input the name of User you want to search for.</p>

@if(!ViewData.Model) { <p class="errorMessage">Not a valid username, please try again</p>}

@using (Html.BeginForm())
{

    <input type="text" name="searchUserName" />
    <br />
    <br />
    <button id="SearchButton">Search</button>
}


